<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>{{ title }} | flofriday.dev</title>
    <!-- <link rel="alternate icon" href="/favicon.ico" type="image/x-icon" sizes="48x48" /> -->

    <meta name="title" content="{{ title }}" />
    <meta name="author" content="flofriday" />
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ title }}" />
    <!-- <meta property="og:url" content=""> -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ image }}" />

    <meta property="twitter:card" content="summary_large_image" />
    <!-- <meta property="twitter:url" content=""> -->
    <meta property="twitter:title" content="{{ title }}" />
    <meta property="twitter:description" content="{{ description }}" />
    <meta property="twitter:image" content="{{ image }}" />

    <link rel="icon" type="image/jpg" href="/flofriday.jpg" />
    <link rel="stylesheet" href="/style.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  </head>

  <body>
    <main class="content">
      <h1>{{ title }}</h1>
      <p style="width: 100%; display: flex; justify-content: space-between">
        <i>{{ date }}</i>
        <i>by <a href="/">flofriday</a></i>
      </p>

      {% if is_draft == True %}
      <div id="draft">
        <h3>This is a draft.</h3>
        The post isn't published yet and the final version might change.
      </div>
      {% endif %}

      {{ content | safe }}
    </main>

    <footer
      class="content"
      style="text-align: right; padding-top: 24px; padding-bottom: 12px"
    >
      <i> - <a href="/" style="color: black"> flofriday </a></i>
    </footer>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
